/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* variables */


body {
  background-color: #d8e3c5;
  margin: 0;
}

main {
  display: flex;
  gap: 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Mobile*/

@media (max-width: 40em) {
  body {
    min-height: 100vh;
    grid-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
  }
}

@media (max-width: 40em) {
  .links {
    display: none;
  }
}

@media (max-width: 40em) {
  main {
    flex-direction: column;
    background-color: #d8e3c5;
  }
}

@media (max-width: 40em) {
  div span {
    display: flex;
    margin: 0.625rem;
    height: 0.5625rem;
    width: 3.75rem;
    background: #32492d;
    border-radius: 0rem;
  }
}

@media (max-width: 40em) {
  p {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #32492d;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 40em) {
  h3 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    color: #32492d;
  }
}

@media (max-width: 40em) {
  h1 {
    font-family: cortado, sans-serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    color: #32492d;
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 40em) {
  .article-title {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    color: #32492d;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 40em) {
  button .hamburger {
    display: none;
  }
}

/* Desktop */

@media (min-width: 40em) {
  p {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #32492d;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    line-height: 3rem;
  }
}

@media (min-width: 40em) {
  h3 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    color: #32492d;
  }
}

@media (min-width: 40em) {
  h1 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
    color: #32492d;
    object-fit: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 40em) {
  .article-title {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: #32492d;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 40em) {
  nav {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
    padding: 1rem;
  }
}

@media (min-width: 40rem) {
}
nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  .logo {
    object-fit: cover;
    max-width: 8rem;
  }
  .history {
    margin-left: 2rem;
  }

  .wildlife {
    margin-right: 2rem;
  }

  .hotsprings, .caption, .intro-text, .arch, .video, .bear {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  }
}


.history, 
.geology, 
.wildlife {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  text-align: center;
  align-items:center;
  overflow: hidden;
  max-width: 30rem;
  background-color: #e7e18c;
  padding:2rem;
  display:flex;
  flex-direction:column;
}

.history,
.geology,
.wildlife {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #e7e18c;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  overflow: hidden;
  max-width: 30rem;
}


button {
  background-color: #32492d;
  color: #e7e18c;
  border-radius: 0.5rem;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0.25rem 0.125rem;
  width: 10rem;
  padding: 0.3125rem;
  margin-top: 3rem;
}

@media (min-width: 40em) {
  body {
    margin: 0;
  }
}

.article-title {
  color: black;
}

.footer {
  background-color: #32492d;
  color: #d8e3c5;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  text-align: center;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 3rem;
}

.article-text {
  text-indent: 3.125rem;
}

.article-text p {
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
}

iframe.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.question1 {
  background-color: #e7e18c;
  color: #32492d;
  font-family: cortado, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}

.plus {
  position: relative;
  border: 0.0625rem dotted #e7e18c;
  width: 0.1875rem;
  height: 0.1875rem;
  background-color: #32492d;
  box-sizing: border-box;
  transform: scale(10);
}
@media (min-width: 40em) {
  .navigation {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #e7e18c;
    color: black;
  }
  ul {
    list-style-type: none;
    font-size: 1.5rem;
  }
}

button:hover {
  color: #d58237;
}

@media (max-width: 40em) {
  body {
    flex-direction: column;
  }
}

@media (min-width: 40em) {
  .grand-canyon {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

li {
  display: flex;
  align-items: space-evenly;
}

ul {
  background-color: #e7e18c;
}

a {
  display: block;
  padding: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 0.25rem;
}

.column img {
  margin-top: 0.5rem;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 40em) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 40em) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.caption {
  font-size: 1.15rem;
}

.links {
  list-style-type: none;
  overflow: hidden;
  background-color: #32492d;
  object-position: center;
  display: flex;
  justify-content: center;
}

li a {
  color: white;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

li a:hover {
  background-color: #d58237;
}

.learn a {
  color: white;
  text-decoration: none;
}

.learn a:hover {
  background-color: #d58237;
}

input {
  display: none;
}

label {
  display: block;
  padding: 0.5rem 1.375rem;
  margin: 0 0 0.0625rem 0;
  cursor: pointer;
  background: #e7e18c;
  border-radius: 0.1875rem;
  color: #32492d;
  transition: ease 0.5s;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

label:hover {
  background: #d58237;
}

.content {
  background: white;
  padding: 0.625rem 1.5625rem;
  border: 0.0625rem solid #32492d;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 0.0625rem 0;
  border-radius: 0.1875rem;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

.grand-canyon {
  margin-top: 2rem;
}

.video {
  margin-top: 2rem;
}

.project-link {
  color: #d8e3c5;
}
