/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  background-color: #d8e3c5;
  padding: 2rem;
  margin: 0;
  display: ;
}

main {
  display: flex;
  gap: 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Mobile*/

@media (max-width: 40em) {
  body {
    min-height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-gap: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
  }
}

@media (max-width: 40em) {
  .links {
    display: none;
  }
}

@media (max-width: 40em) {
  main {
    flex-direction: column;
    background-color: #d8e3c5;
  }
}

@media (max-width: 40em) {
  div span {
    display: flex;
    margin: 10px;
    height: 9px;
    width: 60px;
    background: #32492d;
    border-radius: 0px;
  }
}

@media (max-width: 40em) {
  p {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #32492d;
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
  }
}

@media (max-width: 40em) {
  h3 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    color: #32492d;
  }
}

@media (max-width: 40em) {
  h1 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    color: #32492d;
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 40em) {
  .article-title {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    color: #32492d;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 40em) {
  button .hamburger {
    display: none;
  }
}

/* Desktop */

@media (min-width: 40em) {
  p {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #32492d;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 3rem;
  }
}

@media (min-width: 40em) {
  h3 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    color: #32492d;
  }
}

@media (min-width: 40em) {
  h1 {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 5rem;
    font-style: normal;
    color: #32492d;
    object-fit: cover;
    text-align: center;
  }
}

@media (min-width: 40em) {
  .article-title {
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: #32492d;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 40em) {
  nav {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
    padding: 1rem;
  }
}

@media (min-width: 40rem) {
}
nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  .logo {
    object-fit: cover;
    max-width: 16rem;
  }
}

.history,
.geology,
.wildlife {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #e7e18c;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  overflow: hidden;
  max-width: 30rem;
}

button {
  background-color: #32492d;
  color: #e7e18c;
  border-radius: 0.5rem;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 4px 2px;
  width: 10rem;
  padding: 5px;
  margin-top: 3rem;
}

@media (min-width: 40em) {
  body {
    margin: 0;
  }
}

.article-title {
  color: black;
}

.footer {
  background-color: #32492d;
  color: #d8e3c5;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3rem;
}

.article-text {
  text-indent: 50px;
}

iframe.video {
  aspect-ratio: 16/9;
  width: 100%;
}

.question1 {
  background-color: #e7e18c;
  color: #32492d;
  font-family: cortado, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}

.plus {
  position: relative;
  border: 1px dotted #e7e18c;
  width: 3px;
  height: 3px;
  background-color: #32492d;
  box-sizing: border-box;
  transform: scale(10);
}
@media (min-width: 40em) {
  .navigation {
    font-size: 20px;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #e7e18c;
    color: black;
  }
}
ul {
  list-style-type: none;
}

.hamburger {
  background-color: #d8e3c5;
  border: #d8e3c5;
}

button:hover {
  color: #d58237;
}

/* Mobile Styles Only! */
@media (max-width: 40em) {
  body {
    flex-direction: column;
  }
}

/* Desktop Styles Only! */
@media (min-width: 40em) {
}

li {
  display: flex;
  align-items: space-evenly;
}

ul {
  background-color: #e7e18c;
}

a {
  display: block;
  padding: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 40em) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 40em) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.caption {
  font-size: 1.15rem;
}

.links {
  list-style-type: none;
  overflow: hidden;
  background-color: #32492d;
  object-position: center;
  display: flex;
  justify-content: center;
}

li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d58237;
}

.learn a {
  color: white;
  text-decoration: none;
}

.learn a:hover {
  background-color: #d58237;
}

input {
  display: none;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #e7e18c;
  border-radius: 3px;
  color: #32492d;
  transition: ease 0.5s;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

label:hover {
  background: #d58237;
}

.content {
  background: white;
  padding: 10px 25px;
  border: 1px solid #32492d;
  font-family: skolar-sans-latin, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

.grand-canyon {
  margin-top: 2rem;
}

.video {
  margin-top: 2rem;
}

.project-link {
  color: #d8e3c5;
}
